#app > h1 {
    color: #020817;
    font-size: 30px;
    font-weight: 700;
}

#app > p {
    color: #64748b;
    padding: 15px 0;
}

#app > div {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 20px;
}

.planning {
    width: 55%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    background-color: #fff;

    border: 1px solid #dbe3ed;
    border-radius: 12px;

    padding: 22px 16px;
}

.rdv-today {
    width: 45%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    background-color: #fff;

    border: 1px solid #dbe3ed;
    border-radius: 12px;

    padding: 22px 16px;
}

.planning > div:first-child {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.planning > div:first-child > h2 {
    font-size: 20px;
    font-weight: 600;
}

.planning > div:first-child > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 20px;
}

.aujourdhui {
    color: #0f172a;
    font-size: 14px;

    background-color: #f4f5f7;

    padding: 10px 8px;

    border-radius: 12px;

    transition: all 0.3s ease;
}

.aujourdhui:hover {
    background-color: #e5ebf3;
}

.new-rdv {
    color: #fff;
    font-size: 14px;

    background-color: #2463eb;

    padding: 10px 22px;

    border-radius: 12px;

    transition: all 0.3s ease;
}

.calender {
    width: 380px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;

    background-color: #fff;

    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.select-years {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.monthYear {
    text-align: center;
    font-weight: 600;
    width: 150px;
}

.select-years button {
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.days {
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.day {
    text-align: center;
    padding: 5px;
    color: #999FA6;
    font-weight: 500;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 10px;
    margin: auto;
    cursor: pointer;
    font-weight: 600;
    border-radius: 50%;

    width: 40px;
    height: 40px;

    transition: all 0.3s ease;
}

.date:hover,
.date.active {
    background-color: #ff5869;
    color: #fff;
}

.date.inactive {
    color: #d2d2d2;
}

.date.inactive:hover {
    color: #fff;
}