#app {
	height: 1;
	background-color: #f9fcff;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.head {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 50px;
	gap: 25px;

	text-align: center;
}

.head > div:first-child {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border-radius: 50%;

	padding: 20px;

	background-color: rgba(219, 234, 254, 0.7);
}

.head > div:first-child > svg {
	color: #2563eb;
}

.head > h1 {
	font-size: 36px;
	font-weight: 700;
}

.head > h1 > span {
	color: #2563eb;
}

.head > p {
	color: #4b5563;
	font-size: 18px;
}

.head > div:last-child {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	gap: 15px;
}

.head > div:last-child > p {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	gap: 7px;
	padding: 10px 16px;

	border-radius: 12px;

	font-size: 14px;

	background-color: #e5e7eb;
}

.head > div:last-child > p:first-child {
	background-color: #2563eb;
	color: #fff;
}

.step {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.step > div {
	width: 650px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: #fff;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

	border-radius: 8px;

	padding: 20px;
	gap: 15px;
}

#step-1 > div > div {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	gap: 10px;
}

#step-1 > div > div > p:first-child {
	font-size: 24px;
	font-weight: 600;
}

#step-1 > div > div > p:last-child {
	color: #64748b;
	font-size: 14px;
}

#step-1 > div > form {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	gap: 20px;
	padding: 15px 0 30px 0;

	border-bottom: 1px solid #e2e8f0;
}

#step-1 > div > form > div {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	gap: 15px;
}

#step-1 > div > form > div > label {
	color: #374151;
	font-size: 14px;
	font-weight: 500;
}

#step-1 > div > form > div > input {
	width: 100%;
	border: 1px solid #d1d5db;

	padding: 12px 16px;
	border-radius: 8px;

	color: #64748b;
	font-size: 14px;
}

#step-1 > div > form > div > textarea {
	width: 100%;
	border: 1px solid #d1d5db;

	padding: 12px 16px;
	border-radius: 8px;

	color: #64748b;
	font-size: 14px;

	resize: vertical;
}

#step-1 > div > div:last-child {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end !important;

	padding: 0 15px;
}

#step-1 > div > div:last-child > button:last-child {
	color: #fff;
	font-size: 14px;
	font-weight: 500;

	background-color: #2563eb;

	padding: 12px 16px;

	border-radius: 8px;
	cursor: pointer;
}

#bot > p {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	padding: 40px;
	gap: 5px;

	color: #4b5563;
}

#bot > p > a {
	color: #1d4ed8;
	text-decoration: underline !important;
	cursor: pointer;
}

#step-1, #step-2, #step-3 {
	display: none;
}

#step-2 > div > div {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	gap: 10px;
}

#step-2 > div > div > p:first-child {
	font-size: 24px;
	font-weight: 600;
}

#step-2 > div:first-child > div:first-child > p:last-child {
	color: rgb(100, 116, 139);
	font-size: 14px;
}

#step-2 > div > form {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	gap: 25px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e2e8f0;
}

#step-2 > div > form > div {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	gap: 30px;
}

#step-2 > div > form > div > p {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	gap: 10px;

	color: #111827;
	font-size: 18px;

	padding-top: 20px;
}

#step-2 > div > form > div > p > svg {
	color: #2563eb;
}

#step-2 > div > form > div > div {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 25px;
}

#step-2 > div > form > div > div > div {
	width: 100%;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#step-2 > div > form > div > div > div > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	gap: 10px;
	padding: 0 30px;
}

#step-2 > div > form > div > div > div > div > p:first-child {
	color: #374151;
	font-size: 14px;
}

#step-2 > div > form > div > div > div > div > p:last-child {
	color: #6b7280;
	font-size: 14px;
}

.check {
	display: none;
}

.button {
	background-color: #d2d2d2;
	width: 50px;
	height: 25px;
	border-radius: 20px;
	cursor: pointer;
	position: relative;
	transition: 0.2s;
	display: inline-block;
}

.button::before {
	position: absolute;
	content: "";
	background-color: #fff;
	width: 21px;
	height: 21px;
	border-radius: 50%;
	top: 2px;
	left: 2px;
	transition: 0.2s;
}

.check:checked + .button {
	background-color: #0f172a;
}

.check:checked + .button::before {
	transform: translateX(25px);
}

.stepBot {
	width: 100%;

	display: flex;
	flex-direction: row !important;
	justify-content: space-between !important;
	align-items: center !important;

	padding: 0 15px;
}

.stepBot > button:first-child {
	font-size: 14px;

	border: 1px solid #e2e8f0;
	border-radius: 8px;

	padding: 12px 16px;
	cursor: pointer;

	transition: all 0.2s;
}

.stepBot > button:first-child:hover {
	background-color: rgba(231, 235, 239, 0.7);
}

.stepBot > button:last-child {
	color: #fff;
	font-size: 14px;
	font-weight: 500;

	background-color: #2563eb;

	padding: 12px 16px;

	border-radius: 8px;
	cursor: pointer;

	transition: all 0.2s;
}

.stepBot > button:last-child:hover {
	background-color: #1852d0;
}

#step-3 > div > div {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	gap: 10px;
}

#step-3 > div > div > p:first-child {
	font-size: 24px;
	font-weight: 600;
}

#step-3 > div > div > p:last-child {
	color: rgb(100, 116, 139);
	font-size: 14px;
}

#step-3 > div > form {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	gap: 25px;
	padding: 15px 0 30px 0;
	border-bottom: 1px solid #e2e8f0;
}

#step-3 > div > form > div {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	gap: 20px;
}

#step-3 > div > form > div:first-child {
	flex-direction: row;
}

#step-3 > div > form > div > div {
    width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	gap: 10px;
}

.labelInput {
	color: #374151;
	font-size: 14px;
}

.divInput {
	width: 100%;

	display: flex;
	flex-direction: row !important;
	justify-content: flex-start !important;
	align-items: center !important;

	gap: 10px;
	padding: 15px 10px;

	border: 1px solid #e2e8f0;
	border-radius: 8px;
}

#step-3 > div > form > div:first-child > div:first-child {
	width: 275px;
}

.divInput > svg {
	color: #9ca3af;
}

.divInput > input {
	width: 100%;
	font-size: 14px;
}

#step-3 > div > form > div:nth-child(3) > p {
	color: #6b7280;
	font-size: 14px;
}

#step-3 > div > form > div:last-child > div {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

#step-3 > div > form > div:last-child > div > label {
	color: #4b5563;
	font-size: 14px;
}

#step-3 > div > form > div:last-child > div > label > a {
	color: #2563eb;
	text-decoration: underline;
	cursor: pointer;
}

.custom-checkbox-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

/* CACHE l'input natif */
.custom-checkbox input {
  display: none;
}

/* Zone cliquable */
.custom-checkbox {
  display: inline-flex;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

/* Boîte visuelle */
.checkmark {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  font-size: 16px;
  color: transparent;
}

/* Quand cochée */
.custom-checkbox input:checked + .checkmark {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

.custom-checkbox input:checked + .checkmark::before {
  content: "✔";
  font-size: 12px;
  line-height: 1;
}

/* Texte */
.checkbox-text {
  color: #4b5563;
  font-size: 14px;
  line-height: 1.4;
  max-width: 100%;
}

.checkbox-text a {
  color: #2563eb;
  text-decoration: underline;
  cursor: pointer;
}


@media (max-width: 700px) {
	#step-1 > div, #step-2 > div, #step-3 > div {
		width: 500px;
	}
}

@media (max-width: 500px) {
	#step-1 > div, #step-2 > div, #step-3 > div {
		width: 350px;
	}

	.head {
		width: 350px;
	}

	.head > div:last-child {
		flex-direction: column;
	}

	.lucide-arrow-right {
		transform: rotate(90deg);
	}
}