section:first-child {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	gap: 20px;
	padding: 150px 20px 80px 20px;

	background-color: #f5f9ff;
}

section:first-child > div:first-child {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	gap: 30px;
}

section:first-child > div:first-child > h1 {
	color: #111827;
	font-size: 48px;
	font-weight: 700;
}

section:first-child > div:first-child > h1 > span {
	color: #2563eb;
}

section:first-child > div:first-child > h2 {
	color: #4b5563;
	font-size: 20px;
}

section:first-child > div:first-child > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	gap: 15px;
}

section:first-child > div:first-child > div > p {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	gap: 5px;
}

section:first-child > div:first-child {
	padding: 0px 15px;
}

section:first-child > div:first-child > a {
	color: #fff;
	font-size: 18px;
	font-weight: 500;

	padding: 12px 32px;

	border-radius: 12px;

	background-color: #2563eb;

	cursor: pointer;
}

section:first-child > div:last-child {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 0px 75px;
}

section:first-child > div:last-child > div {
	width: 584px;
	height: 444px;

	background-color: #ffffff;
	padding: 32px;

	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	border-radius: 12px;
}

section:first-child > div:last-child > div > div:first-child {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

section:first-child > div:last-child > div > div:first-child > p:first-child {
	color: #111827;
	font-weight: 600;
}

section:first-child > div:last-child > div > div:first-child > p:last-child {
	color: #6b7280;
	font-size: 14px;
}

section:first-child > div:last-child > div > div:nth-child(2) {
	display: grid;
	justify-content: center;
	align-items: center;

	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-template-rows: 40px 40px 40px;

	padding: 15px;
	margin: 20px 0px;
	gap: 10px;

	border-bottom: 1px solid #e5e7eb;
	border-top: 1px solid #e5e7eb;
}

section:first-child > div:last-child > div > div:nth-child(2) > div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.jours {
	color: #787f8c;
	font-size: 12px;
	font-weight: 500;
}

.numero {
	color: #374151;
}

.numeroChoisi {
	background-color: rgba(219, 234, 254, 0.7);
	color: rgb(37 99 235);
	padding: 8px 0;
	border-radius: 8px;
}

section:first-child > div:last-child > div > div:last-child {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 10px;
}

section:first-child > div:last-child > div > div:last-child > div {
	width: 100%;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	border-radius: 12px;

	padding: 12px;
}

section:first-child > div:last-child > div > div:last-child > div:first-child {
	background-color: rgba(239, 246, 255, 0.7);
	border: 1px solid rgb(191 219 254);
}

section:first-child > div:last-child > div > div:last-child > div > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	gap: 5px;
}

section:first-child > div:last-child > div > div:last-child > div > div > p:first-child {
	color: rgb(17 24 39);
	font-weight: 500;
}

section:first-child > div:last-child > div > div:last-child > div > div > p:last-child {
	color: rgb(75 85 99);
	font-size: 14px;
}

section:first-child > div:last-child > div > div:last-child > div:first-child > p {
	color: rgb(37 99 235);
	font-weight: 500;
}

section:first-child > div:last-child > div > div:last-child > div:last-child {
	background-color: rgba(240, 253, 244, 0.7);
	border: 1px solid rgb(187 247 208);
}

section:first-child > div:last-child > div > div:last-child > div:last-child > p {
	color: rgb(22 163 74);
	font-weight: 500;
}

.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 50px;
	padding: 50px 50px 100px 50px;
}

.titre {
	font-size: 32px;
	font-weight: 700;
	text-align: center;
}

section:nth-child(2) > div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;

	gap: 70px;

	flex-wrap: wrap;
}

section:nth-child(2) > div > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 20px;
}

section:nth-child(2) > div > div > div {
	width: 64px;
	height: 64px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border-radius: 50%;

	background-color: rgba(219, 234, 254, 0.7);
}

section:nth-child(2) > div > div > div > svg {
	color: #2563eb;
}

section:nth-child(2) > div > div > p {
	text-align: center;
}

section:nth-child(2) > div > div > p:nth-child(2) {
	font-size: 20px;
	font-weight: 600;
}

section:nth-child(2) > div > div > p:nth-child(3) {
	color: rgb(75 85 99);
}

section:nth-child(2) > div > div > p:last-child {
	color: rgb(107 114 128);
	font-size: 14px;
}

section:nth-child(3) {
	background-color: #f9fafb;
}

section:nth-child(3) > div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	gap: 30px;
}

section:nth-child(3) > div > div {
	width: 432px;
	height: 182px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	background-color: #fff;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

	padding: 32px;
	gap: 10px;
}

section:nth-child(3) > div > div > p {
	color: #4b5563;
	font-style: italic;
	font-size: 18px;
	font-weight: 500;
}

section:nth-child(3) > div > div > div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	gap: 15px;
}

section:nth-child(3) > div > div > div > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	gap: 5px;
}

section:nth-child(3) > div > div > div > p {
	font-size: 25px;
}

section:nth-child(3) > div > div > div > div > p:first-child {
	color: #111827;
	font-weight: 600;
}

section:nth-child(3) > div > div > div > div > p:last-child {
	color: #4b5563;
	font-size: 14px;
}

section:nth-child(4) > div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	gap: 30px;
}

section:nth-child(4) > div > div {
	width: 432px;
	height: 406px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	padding: 32px;
	gap: 15px;

	border: 2px solid #e5e7eb;
	border-radius: 8px;

	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

section:nth-child(4) > div > div > p:first-child {
	color: #111827;
	font-size: 24px;
	font-weight: 700;
}

section:nth-child(4) > div > div > p:nth-child(2) {
	color: #111827;
	font-size: 36px;
	font-weight: 700;
}

section:nth-child(4) > div > div > p:nth-child(2) > span {
	color: #4b5563;
	font-size: 18px;
	font-weight: 400;
}

section:nth-child(4) > div > div > div {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	gap: 15px;
}

section:nth-child(4) > div > div > div > p {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	gap: 15px;
}

.check {
	color: #26c661;
}

.x {
	color: #ef4444;
}

section:nth-child(4) > div > div > a {
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 18px;
	font-weight: 600;

	background-color: #4b5563;
	padding: 8px 0;

	border-radius: 8px;

	color: #fff;

	cursor: pointer;
}

.famous {
	position: relative;

	border: 2px solid #3c83f6 !important;
}

.famous::before {
	content: "Le plus populaire";

	position: absolute;
	top: 0;

	color: white;
	font-size: 14px;
	font-weight: 500;

	padding: 4px 16px;
	border-radius: 10000px;
	transform: translateY(-50%);
	background-color: #3c83f6;
}

.disabled {
	color: #9ca3af;
}

.blue {
	background-color: #2563eb !important;
}

section:nth-child(5) {
	background-color: #2563eb;

	gap: 30px;
}

section:nth-child(5) > h2 {
	color: #fff;
}

section:nth-child(5) > p {
	color: #fff;
}

section:nth-child(5) > p:nth-child(2) {
	font-size: 20px;
}

section:nth-child(5) > p:nth-child(3) {
	font-size: 18px;
	text-align: center;
}

section:nth-child(5) > div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	gap: 20px;
}

section:nth-child(5) > div > a {
	font-size: 18px;
	font-weight: 600;

	background-color: #fff;
	padding: 12px 32px;

	border-radius: 8px;
	color: #2563eb;

	cursor: pointer;
}

@media (max-width: 1100px) {

	section:first-child {
		flex-direction: column;
	}

	section:first-child > div:first-child {
		width: 100%;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

}

@media (max-width: 950px) {
	section:nth-child(3) > div {
		flex-direction: column;
	}

	section:nth-child(4) > div {
		flex-direction: column;
	}
}

@media screen and (max-width: 650px) {
	section:nth-child(5) > div {
		flex-direction: column;
	}

	section:nth-child(5) > div > a {
		width: 100%;
	}
}

@media (max-width: 600px) {
	section:first-child > div:last-child {
		padding: 0px;
		width: 100%;
	}

	section:first-child > div:last-child > div {
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 500px) {

	section:nth-child(3) > div {
		padding: 0px;
		width: 100%;
	}

	section:nth-child(3) > div > div {
		padding: 15px;
		width: 100%;
	}

	section:nth-child(4) > div {
		padding: 0;
		width: 100%;
	}

	section:nth-child(4) > div > div {
		width: 100%;
		height: 100%;
	}

}